:root {
    --deepBlue: #2D3B40;
    --darkGreen: #17A663;
    --mediumGreen: #0FBF5C;
    --lightGreen: #05F26C;
    --almostWhite: #F2F2F2;
}

/* fonts */

.quicksandRegular {

}

.quicksandLight {
    
}

.forma {

}

.alexa {

}

.robotoMedium {

}

.robotoLight {

}